<?xml version="1.0"?>
<config>
    <modules>
        <Bis2bis_Integration>
            <version>1.0.0</version>
        </Bis2bis_Integration>
    </modules>
    <global>
        <models>
            <bis2bis_integration>
                <class>Bis2bis_Integration_Model</class>
                <resourceModel>bis2bis_integration_resource</resourceModel>
            </bis2bis_integration>
            <bis2bis_integration_resource>
                <class>Bis2bis_Integration_Model_Resource</class>
                <entities>
                    <queue>
                        <table>magenteiro_integration_queue</table>
                    </queue>
                </entities>
            </bis2bis_integration_resource>
        </models>
        <helpers>
            <bis2bis_integration>
                <class>Bis2bis_Integration_Helper</class>
            </bis2bis_integration>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <catch_order>
                        <type>model</type>
                        <class>bis2bis_integration/observer</class>
                        <method>catch</method>
                    </catch_order>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <integration_setup>
                <setup>
                    <module>Bis2bis_Integration</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </integration_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <bis2bis_integration>
                <use>standard</use>
                <args>
                    <frontName>integration</frontName>
                    <module>Bis2bis_Integration</module>
                </args>
            </bis2bis_integration>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <integration_job>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bis2bis_integration/cron::integrate</model>
                </run>
            </integration_job>
        </jobs>
    </crontab>
</config>
